@charset "utf-8";
.main-tile{
    background-color: #f9f9fb;
    width: auto;
    height: 580px;
    border-radius: 40px 40px 0px 0px;
    margin-top: -35px;
    -webkit-box-shadow: inset 0px 0px 20px 6px #404040;
    box-shadow: inset 0px 24px 22px -20px;
    display: block;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    animation: slide 30s infinite;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
	
    
}

@keyframes slide{
	0%{
		background-image: url("/images/a.jpg")
	}
		20%{
		background-image: url("/images/b.jpg")
		
	}
		40%{
		background-image: url("/images/c.jpg")
	}
		60%{
		background-image: url("/images/d.jpg")
	}
		80%{
		background-image: url("/images/e.jpg")
	}
		100%{
		background-image: url("/images/rdp.jpg")
	}
	
}


.main-tile-2{
    display: flex;
    margin: auto 150px;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
	color: rgb(42, 42, 51);
}
.tile2{
	
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.tile1,.tile2-a,.tile2-b{
    display: block;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 1px gray;
    box-shadow: 0px 0px 10px 1px gray;
    text-overflow: ellipsis;
    word-wrap: break-word;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgb(42, 42, 51);
    font-family: "Ivar Headline Subset", "Times New Roman", serif;
    font-weight: 600;
}
.tile1{
    display: flex
}
.tile1-text{
    color: rgb(42, 42, 51);
    margin: 0px 0px 16px;
        margin-bottom: 16px;
    font-family: "Times New Roman", serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
	width: 476px;
	height: 334px;
}

.btn{
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    border: 1px solid #00D359;
    border-radius: 3px;
    user-select: none;
    padding: 9px 20px;
    cursor: pointer;
    height: 42px;
    line-height: 22px;
    background-color: transparent;
	transition: all .2s ease-in-out 0s;
	color: #000000;
}

.btn:hover{
    background-color: #00D359;
    -webkit-box-shadow:0px 0px 0px 2px #989898;
    color: white;
    
    box-shadow: 0px 0px 1px 0px #989898;
	transform: scale(1.1);
	
}



.tile1-img{
   
    overflow: hidden;
	height: 368.5px;
width: 862.4px;

}
.tile2-a{
	width: 49%;
	text-align: center;
    font-style: normal;
    font-weight: 400;
	display: flex;
	
}
.tile2-text{
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}
.tile2-a-img{
	flex: 1;
}


.tile2-b{
	width: 49%;
	text-align: center;
    font-style: normal;
    
}

.tile3{
	display: flex;
	margin: auto 150px;
	justify-content: space-between;
}


.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: auto;
	  text-align: center;
	  margin-right: 20px;
	  border-radius: 7px;
  	  transition: all .2s ease-in-out;
	  flex: 1;
	  
	overflow:hidden;
	display:flex;
	flex-direction: column;
}
.card:hover{
	transform: scale(1.1);
}
.tile3-img{
    width: 300px;
    height: 300px;
}
.title {
  color: grey;
  font-size: 18px;
}

.btn2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.btn2:hover, a:hover {
  opacity: 0.7;
}
