@charset "utf-8";
/* CSS Document */
.main-tile{
    /*overflow: scroll;*/
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
    background-color: #f9f9fb;
    width: 1080px;
    height: 580px;
    border-radius: 40px 40px 0px 0px;
    margin-top: -35px;
    -webkit-box-shadow: inset 0px 0px 20px 6px #404040;
    box-shadow: inset 0px 24px 22px -20px;
    display: block;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    animation: slide 30s infinite;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
	padding: 0% 10%;
   

}


.container{
    margin: 45px 100px;
    width: auto;
    height: 475px;
	background-color: white;
	box-shadow: 0px 0px 7px 252px #00000094;
	overflow:     hidden;
	display: flex;
}
.login-img{
    width: 495px;
    height: 489.4px;
    background-image: url(/images/login-man.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	flex: 1;
}

.Cover{
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
    background-color: rgba(0,0,0,0.40);
	z-index: 1;
}

#Cover-head{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 74px;
    flex: 1;
    text-align: center;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}


.btn{
    margin-right: 40px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    border: 1px solid #00D359;
    border-radius: 3px;
    user-select: none;
    padding: 9px 30px;
    cursor: pointer;
    height: 42px;
    line-height: 22px;
    background-color: #00D359;
    transition: all .2s ease-in-out 0s;
    color: #FFFFFF;
    text-align: center;
	
}
.form-btn{
    flex: 1;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 30px;
    margin-top: -106px;
    padding-left: 42px;
}

.btn:hover{
    -webkit-box-shadow:0px 0px 0px 2px #989898;
    color: white;
    
    box-shadow: 0px 0px 1px 0px #989898;
	transform: scale(1.1);
	
}




.form{
    width: 100%;
    flex: 1;
    background-image: -webkit-linear-gradient(359deg,rgba(91,134,229,1.00) 37.31%,rgba(54,209,220,1.00) 100%);
    background-image: -moz-linear-gradient(359deg,rgba(91,134,229,1.00) 37.31%,rgba(54,209,220,1.00) 100%);
    background-image: -o-linear-gradient(359deg,rgba(91,134,229,1.00) 37.31%,rgba(54,209,220,1.00) 100%);
    background-image: linear-gradient(91deg,rgba(91,134,229,1.00) 37.31%,rgba(54,209,220,1.00) 100%);
}


#signup-form, #login-form{
    padding-left: 30px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    line-height: 3em;
	clear: both;
	box-sizing: border-box;
}
#login-form{
	/*margin-top: -483px;*/
	display: none;
}

#signup-form h1, #login-form h1{
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

form, .field-wrap{
	display: flex;
	flex-direction: column;
}

label{
    flex: 1;
    font-size: 21px;
    line-height: 30px;
    font-weight: 900;
    color: white;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

input, textarea {
  flex:1;
  font-size:22px;
  display:block;
  width:90%;
  height:100%;
  padding:5px 10px;
  background:none;
  border:1px solid white;
  color:darkgrey;
  border-radius:5px;
  transition:border-color .25s ease;
	font-family: Tahoma bold;

}
  input:focus {
    border-color: #00D359;
    color: black;
  }

textarea {
  border:1px solid gray;
  resize: vertical;
}

.btn2 {
    margin: 30px 0px;
    width: 96%;
    border-radius: 5px;
    border: 2px solid #00D359 ;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: transparent;
    color: white;
    transition: all.5s ease;
    -webkit-appearance: none;
}
 .btn2:hover, .btn2:focus {
    background:#00D359;
  }
